*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mess-right{
    width: 100%;
    margin-top: 7px;
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
}

.content{
    padding: 5px 10px !important;
    border-radius: 18px;
    background-color: #3894da;
    color: rgb(41, 41, 41);
    border: 1px solid black;
}

.content1{
    padding: 5px 10px !important;
    border-radius: 18px;
    background-color: rgb(173, 173, 173);
    color: rgb(56, 56, 56);
    margin: 0 !important;
    margin-left: -7px !important;
    width: 80%;
}
.mess-left{
    width: 100%;
    margin-top: 7px;
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;
}